/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  display: inline-block;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: lightblue;
  color: white;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-align: center;
}

/* Doctor list styles */
.doctor-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px 0;
}

.doctor-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 20px;
  transition: box-shadow 0.3s;
}

.doctor-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: lightblue;
  transition: transform 0.3s ease;
  transform: translateY(-5px);
}

.doctor-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.doctor-specialty {
  font-size: 1.25rem;
}

.doctor-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.floating-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#iframe-container {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 999;
  padding: 10px;
  transition: all 0.3s ease;
  transform: scale(0);
}

#iframe-container.expanded {
  transform: scale(1);
}

.logo-container {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.logo i {
  font-size: 24px;
  transition: all 0.5s ease;
}

.logo-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  transition: all 0.5s ease;
}

.logo-container:hover .logo {
  width: 100%;
  height: 100%;
}

.logo-container:hover .logo i {
  opacity: 0;
}

.logo-container:hover .logo-content {
  opacity: 1;
}

/*.doctor-card:hover {*/
/*  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);*/
/*  background-color: lightblue;*/
/*  transition: transform 0.3s ease;*/
/*  transform: translateY(-5px);*/
/*}*/
