{% extends 'doctors/base.html' %}

{% block title %}{{ doctor.name }}{% endblock %}

{% block content %}
  <div class="card mb-4">
    <img src="{{ doctor.image.url }}" class="card-img-top" alt="{{ doctor.name }}">
    <div class="card-body" style="text-align: center">
      <h5 class="card-title doctor-name">{{ doctor.name }}</h5>
      <p class="card-text doctor-specialty">{{ doctor.specialty }}</p>
      <p class="card-text">&#x20B9; {{ doctor.fees }}</p>
      <h6 style="font-size: 1.25rem">Qualifications: </h6>
      <p class="card-text">{{ doctor.education }}</p>
      <h6 style="font-size: 1.25rem ">Description: </h6>
      <p class="card-text">{{ doctor.description }}</p>
      <p class="card-text">Phone: <a href="tel:+91{{ doctor.phone_number }}">+91-{{ doctor.phone_number }}</a></p>
      <p class="card-text">Email: <a href="mailto:{{doctor.email}}">{{ doctor.email }}</a></p>
      <h5>Schedule:</h5>
      {% if doctor.monday_start_time %}
        <p>Monday: {{ doctor.monday_start_time }} - {{ doctor.monday_end_time }}</p>
      {% endif %}
      {% if doctor.tuesday_start_time %}
        <p>Tuesday: {{ doctor.tuesday_start_time }} - {{ doctor.tuesday_end_time }}</p>
      {% endif %}
      {% if doctor.wednesday_start_time %}<p>Wednesday: {{ doctor.wednesday_start_time }} - {{ doctor.wednesday_end_time }}</p>
      {% endif %}
      {% if doctor.thursday_start_time %}
        <p>Thursday: {{ doctor.thursday_start_time }} - {{ doctor.thursday_end_time }}</p>
      {% endif %}
      {% if doctor.friday_start_time %}
        <p>Friday: {{ doctor.friday_start_time }} - {{ doctor.friday_end_time }}</p>
      {% endif %}
      {% if doctor.saturday_start_time %}
        <p>Saturday: {{ doctor.saturday_start_time }} - {{ doctor.saturday_end_time }}</p>
      {% endif %}
      {% if doctor.sunday_start_time %}
        <p>Sunday: {{ doctor.sunday_start_time }} - {{ doctor.sunday_end_time }}</p>
      {% endif %}
    </div>
  </div>
  <a href="{% url 'doctors:doctors' %}" class="btn btn-primary">Back</a>
{% endblock %}