{% extends 'doctors/base.html' %}

{% block title %}Doctors{% endblock %}

{% block content %}
  <div class="row">
  {% for doctor in doctors %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="{{ doctor.image.url }}" class="card-img-top" alt="{{ doctor.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ doctor.name }}</h5>
          <p class="card-text">{{ doctor.specialty }}</p>
          <p class="card-text">Rs. {{ doctor.fees }}</p>
          <a href="{% url 'doctors:detail' doctor.id %}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="col-12">
      <p>No doctors found.</p>
    </div>
  {% endfor %}
  </div>
{% endblock %}